# Dependencias y compilados
node_modules/
dist/
# Reportes
coverage/
test-results/
playwright-report/
artifacts
# Logs y entorno
*.log
.env

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
